<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:prime="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<b:container>
		<h:form id="formID">

			

			
			<prime:contextMenu for="carsId">
				<prime:menuitem value="View" update="@form" icon="ui-icon-search"
					oncomplete="PF('carDialog').show()" />
				<prime:menuitem value="Delete" icon="ui-icon-close" update="@form"
					actionListener="#{dtContextMenuView.deleteCar}" />
			</prime:contextMenu>

			<prime:dataTable value="#{carPool.carPool}" var="car" id="carsId"
				rowKey="#{car.price}">
				<prime:column id="brandID" headerText="Brand">#{car.brand}</prime:column>
				<prime:column id="typeID" headerText="Type">#{car.type}</prime:column>
				<prime:column id="priceID" headerText="Price">#{car.price}</prime:column>
			</prime:dataTable>
			<prime:commandButton value="Update Column" actionListener="#{carPool.initRandomCarPool}"></prime:commandButton>
		</h:form>
		
		
		
		<b:jumbotron>
		<h1>Hello, world!</h1>
		
  
  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</b:jumbotron>
	</b:container>
	
</html>