<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>BootsFaces: next-gen JSF Framework</title>
        <meta name="author" content="Riccardo Massera"></meta>
        
        <style>
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
			{
			background-color: #ddd !important;
		}
		</style>
    </h:head>
    <h:body style="padding-top: 60px">
        <ui:composition template="WEB-INF/testTemplate.xhtml">
            <ui:define  name="headerNavSection">
			<ui:include src="/sections/main/headerNavSection.xhtml" />
				
		</ui:define>
		
		
		  		
  		<ui:define  name="centerContent">
    		<ui:include src="/sections/main/centerContent.xhtml"/>
		</ui:define>
  		
  		
  		
  		<ui:define  name="footer">
    		<ui:include src="/sections/main/footer.xhtml"/>
  		</ui:define>
            
        </ui:composition>
    </h:body>
</html>
