<!DOCTYPE html> 
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:fitcomp="http://java.sun.com/jsf/composite/fitcomp">

	<h:head>
			
            <f:facet name="first">
            	
                <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <meta content="utf-8" http-equiv="encoding"/>
                
                
                
                
                <meta name="description" content="True Plus Size High Performance Athletic Wear"/>
                <meta name="description" content="True Plus Size High Performance Active"/>
                <meta name="description" content="True Plus Size High Performance Yoga Wear"/>
                <meta name="audience" content="True Plus Size High Performance Athletic Wear" />
                <meta name="audience" content="True Plus Size High Performance Active Wear" />
                <meta name="audience" content="True Plus Size High Performance Yoga Wear" />
                <meta name="description" content="Manufacture of premium apparel for the active healthy lifestyle" />
                <meta name="description" content="The Fit-Labs experience is centered on a premium quality product that exceeds the expectations of our customer. Fit-Labs primary focus is the often overlooked and certainly underserved Plus Size market. We know that you have a hard time finding clothes that fit, much less comfortable, flattering and cute styles." />
                <!-- <meta http-equiv="refresh" content="#{session.maxInactiveInterval};url=loginViaMobile.jsf" /> -->
                
                
                
                

        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
                
                <title>Fit-Labs: Plus Size Athletic, Yoga and Active Apparel for Woman</title>
            </f:facet>
            <LINK REL="SHORTCUT ICON"
       		HREF="#{resource['images:favicon.png']}"/>

			 
			 
			 
			

		<!-- 		
		<link rel="stylesheet" href="#{resource['css:fluid960gs/css/text.css']}" type="text/css" media="all"/>
		<link rel="stylesheet" href="#{resource['css:fluid960gs/css/grid.css']}" type="text/css" media="all"/>
		<link rel="stylesheet" href="#{resource['css:/fluid960gs/css/layout.css']}" type="text/css" media="all"/>
		<link rel="stylesheet" href="#{resource['css:/fluid960gs/css/nav.css']}" type="text/css" media="all"/>
		-->
		
		<h:outputScript library="js/customPFJS" name="jquery-1.9.0.js" target="head"/>
		
		<h:outputStylesheet name="demo-responsive-grid.css" library="assets/stylesheets" target="head"/>
		<h:outputStylesheet name="unsemantic-grid-responsive.css" library="assets/stylesheets" target="head"/>
		
		<!-- <h:outputStylesheet name="layout.css" library="css/fluid960gs/css" target="head"/>
		<h:outputStylesheet name="grid.css" library="css/fluid960gs/css" target="head"/> -->
		<h:outputStylesheet name="nav.css" library="css/fluid960gs/css" target="head"/>
		<h:outputStylesheet name="text.css" library="css/fluid960gs/css" target="head"/>
		
		
		<h:outputScript library="css/Magnifier.js-master" name="Magnifier.js" target="head"/>
		<h:outputScript library="css/Magnifier.js-master/demo" name="Event.js" target="head"/>
		<h:outputStylesheet name="demo.css" library="css/Magnifier.js-master/demo" target="head"/>
		<h:outputStylesheet name="magnifier.css" library="css/Magnifier.js-master" target="head"/>
		<h:outputStylesheet name="gallery.css" library="css/Magnifier.js-master/demo" target="head"/>
		
		<!-- <script type="text/javascript">
var evt = new Event(),
    m = new Magnifier(evt);

m.attach({
    thumb: '#thumb',
    large: 'http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Starry_Night_Over_the_Rhone.jpg/1200px-Starry_Night_Over_the_Rhone.jpg',
    mode: 'inside',
    zoom: 3,
    zoomable: true
});
</script> -->
		
		
		 <!--
		Add: to xyz to get a hover background-color: #F381A5 !important;
		
		CSS in the document body adversely impacts rendering performance.
2 style block(s) in the landingPage2.faces body should be moved to the document head.
Link node theme.css.faces should be moved to the document head in landingPage2.faces
Link node primefaces.css.faces should be moved to the document head in landingPage2.faces

            -->
            <style type="text/css">
            
            	.cart {
   					 background-image: url("../../resources/images/icons/cartimagebrollovr.png");
   					 no-repeat !important;
     					width:20px;
    					height:16px;
				}

                .ui-layout-north {
                    z-index:20 !important;
                    overflow:visible !important;;
                }

                 .ui-layout-north .ui-layout-unit-content {
                    overflow:visible !important;
                }
                
                /* .ui-widget .ui-widget {
    				font-size: .7em;
    			
				} 
				
				 .ui-widget, .ui-widget .ui-widget {
    				font-size: 95% !important;
				} 
				
				
				.ui-widget, .ui-widget .ui-widget .selectBoxDetails {
    				font-size: 95% !important;
				} */ 
				
				.ui-widget {
    				font-size: 85%;
    				font-style: normal;
					font-variant: normal;
					font-weight: normal;
    			
				}
				
				.ui-widget .ui-widget {
    				font-size: 100%;
    				font-style: normal;
					font-variant: normal;
					font-weight: normal;
				} 
				
				.SelectOneFont {
    				font-size: 1.1em;
    			
				} 
				
				.largerFont {
    				font-size: 1.5em;
    				font-family : "Palatino Linotype", "URW Palladio L", "palladio l", palatino, "book antiqua", times, serif; 
    			
				}
				
				.largerColorFont {
    				font-size: 1.5em;
    				color:#DF3681;
    				font-family : "Palatino Linotype", "URW Palladio L", "palladio l", palatino, "book antiqua", times, serif; 
    			
				}
				
				.colorFont {
    				font-size: .7em;
    				color:#DF3681;
    				font-family : "Palatino Linotype", "URW Palladio L", "palladio l", palatino, "book antiqua", times, serif; 
				}
				
				.colorBG {
    				background-color:#FBDEEB;
    				border: 1px solid #000000;
    				text-align:left
    				 
				}
				
				.colorBGNoBoarder {
    				background-color:#FBDEEB;
    				text-align:left
    				 
				}
				
				.colorBGNoBoarderBlack {
    				background-color:#000000;
    				text-align:left
    				 
				}
				
				.mypanelgrid td {
				border-style: none !important;
				border: 0px solid #000000;
				padding: 0px 0px;
				background-color:#FBDEEB;
				}
				
				
  				.xyz:hover {
    				border: 1px solid #000000;
    				border-bottom-right-radius: 5px;
				    border-top-left-radius: 5px;
				    border-top-right-radius: 5px;
				    margin-bottom: 0;
				    margin-left: -5px;
				    margin-right: 0;
				    margin-top: -5px;
				    opacity: 1;
				    padding-bottom: 5px;
				    padding-left: 5px;
				    padding-right: 5px;
				    padding-top: 5px;
				}
				
.footer{
    width:100%;
    height:30px;
    padding:30px;
    background: #000007;
    clear: both;
    position: absolute;
    bottom: 0px;
}

.center{
    margin: 0 auto;
    width:auto;
    height:200px;
    margin-top: 20px;
    background-color: #f7f7f7;
    font-size: 100%;
    				font-style: normal;
					font-variant: normal;
					font-weight: normal;
}

.center1{
    margin: 0 auto;
    width:auto;
    height:200px;
    margin-left:300px;
    margin-top: 20px;
    background-color: #f7f7f7;
}

.east{
    width:200px;
    height:400px;
    position: absolute;
    margin-top: 30px;
    right: 0px;
    background-color: #f7f7f7;
}

.west{
    width:200px;
    height:400px;
    margin-top: 30px;
    position: absolute;
    left: 0px;
    background-color: #f7f7f7;
}

.eastPad{
    width:200px;
    height:400px;
    position: absolute;
    margin-top: 30px;
    right: 40px;
    background-color: #f7f7f7;
}

.westPad{
    width:200px;
    height:400px;
    margin-top: 30px;
    position: absolute;
    left: 40px;
    background-color: #f7f7f7;
}

.north {
    background-color: black;
    position: absolute;
    top:0px;
    width: 100%;
    height: 40px;
}
				
	

.ui-panelgrid tr, .ui-panelgrid td{
  border:none !important;
}

.ui-datatable .ui-datatable-data tr,.ui-datatable .ui-datatable-data-empty tr,.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td{
  border:1px solid !important;
}

				
				
				
  	}
  				
    </style>
    
    <!-- <script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');

	ga('create', 'UA-53800111-1', 'auto');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
</script> -->
	
	
    
    </h:head>
	
	<!-- <div name="brandHeaderSection" class="headerContainer_16">this is the brand</div> -->
	
<!-- 	<h:body class="container_16" > -->

			<div class="grid-container">
    		<div class="grid-100 mobile-grid-100">
			<h:body>
			
			<div hidden=""></div>
			
			
			
<!-- 			<div name="headerNavSection" class="grid_16"> -->
			<div id="headerNavSection" class="grid-90">
			
				
		         <!-- <ui:include src="/sections/main/headerNavSection.xhtml"/> -->
		         
		         <ui:insert name="headerNavSection" />
		         
		    </div>
		    
		    
		    			
			<div class="grid-90">
			
				
						<ui:insert name="centerContent" />
					
			</div>
			
			
			
			
			<div class="grid-90">
				
					<ui:insert name="footer"/>
				
			</div>
			
				
				
		
		
		
	</h:body>
	</div>
	</div>


</f:view>